/*CARD STYLING*/

.product {
	width: 400px;
	border: 2px solid slategray;
	font-family: 'Vibur';
	margin: 1%;
}

.image img {
	max-width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/*This removed the spacing below the descriptions*/

.description * {
	margin: 0;
	text-align: center; 	
}

/*Target padding around description and apply to top and bottom*/

.description {
	padding: 2%;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.description h6 {
	font-size: 1.5em;
	padding: 2%;
}

/*LAYOUT- FLEXBOX*/

#product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}